{% extends "InspectorCloud/Layout.html" %}
{% block content %}
        <div class="bodyoutside" style="margin:0px 0px 0px 225px;background:#F8F8FF">
            <div class="module form-module">

                <div class="form" style="display: block;">
                    <h2>Create Instance</h2>
                    <form action={% url 'instance' %} method="POST">
                        {% csrf_token %}
                        <label>Flavor</label>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#drop1').on('change', function () {
                                    $('#text1').val($('#drop1').val());

                                });
                            });
                        </script>
                        <select name="drop1">
                            {% for each in flvrs %}
                                <option name="flvrr[]" placeholder="Flavor" value={{ each }}>{{ each }}</option>
                            {% endfor %}
                        </select>
                        <label>Image name</label>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#drop2').on('change', function () {
                                    $('#text2').val($('#drop2').val());

                                });
                            });
                        </script>
                        <select name="drop2">
                            {% for each in imgz %}
                                <option placeholder="Image name" value={{ each }}>{{ each }}</option>
                            {% endfor %}
                        </select>

                        <label>Network</label>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#drop3').on('change', function () {
                                    $('#text3').val($('#drop3').val());

                                });
                            });
                        </script>

                        <select name="drop3">
                            {% for each in netwrk %}
                                <option placeholder="Image name" value={{ each }}>{{ each }}</option>
                            {% endfor %}
                        </select>

                        <label>Security Group</label>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#drop4').on('change', function () {
                                    $('#text4').val($('#drop4').val());

                                });
                            });
                        </script>

                        <select name="drop4">
                            {% for each in scrty %}
                                <option placeholder="Security Group" value={{ each }}>{{ each }}</option>
                            {% endfor %}
                        </select>
                        <label>Key name</label>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#drop5').on('change', function () {
                                    $('#text5').val($('#drop5').val());

                                });
                            });
                        </script>
                        <select name="drop5">
                            {% for each in keyz %}
                                <option placeholder="Key name" value={{ each }}>{{ each }}</option>
                            {% endfor %}

                        </select>
                        <div style="clear:both"></div>
                        <input id="gnrtKey" type="hidden" value="10" name="generate_key" style="margin-bottom:25px;margin-top:0px;"></input>
                        <button id="generate_key_1" name="generate_key_1" style="margin-bottom:25px;margin-top:0px;">generate
                        </button>
                        <label>Name</label>
                        <input name="namii" id="namii" type="text">
                        <button id="Create_Instance" value="1" style="background:#428bca ;" onclick="{% url 'instance' %}">Create
                            Instance
                        </button>
                    </form>
                </div>

            </div>

        </div>

 {% endblock %}