{% extends "InspectorCloud/layout.html" %}
{% block content %}

                  <table class="table table-striped responsive-utilities jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">VM Id</th>
                        <th class="column-title">VM Name</th>
                        <th class="column-title">Image Used</th>
                        <th class="column-title">VM Status</th>
                        <th class="column-title">VM Creation Time(UTS)</th>
                      </tr>
                    </thead>

                    <tbody>

                    {% for key, value  in foo.items %}
                    <tr>
                        <td class=" ">{{ key }}</td>
                        <td class=" ">{{ value.1 }}</td>
                        <td class=" ">{{ value.2 }}</td>
                        <td class=" ">{{ value.3 }}</td>
                        <td class=" ">{{ value.4 }}</td>

                      </tr>

                    {%  endfor  %}
                    </tbody>

                    <!-- <tr class="odd pointer"> -->

                  </table>

 {% endblock %}